/Proyecto_vuelos-master/nbproject/private/
/CarreraMortal/build/
/turismo/nbproject/private/
/turismo/build/
/Taller_1_2/Taller/build/
/Taller_1_2/Taller/nbproject/private/
/TallerDeReparacion_2/TallerDeReparacion/TallerdeReparacion/build/
/TallerDeReparacion_2/TallerDeReparacion/TallerdeReparacion/dist/
/TallerDeReparacion_2/TallerDeReparacion/TallerdeReparacion/nbproject/private/
/TallerDeReparacion/TallerdeReparacion/build/
/TallerDeReparacion/TallerdeReparacion/dist/
/TallerDeReparacion/TallerdeReparacion/nbproject/private/
/Proyecto_Nutricionista_2/Nutricionista/nbproject/private/
/Proyecto_Nutricionista_2/Nutricionista/build/
/TallerReparacion/TallerReparacion/TallerReparacion/build/
/TallerReparacion/TallerReparacion/TallerReparacion/nbproject/private/
/p1ejercicio3/nbproject/private/
/p1ejercicio3/build/